.about {
  &-wrapper {
    position: relative;
    z-index: 1;
  }

  &-me {
    &-header,
    &-paragraph {
      position: relative;
      z-index: 3;
    }
  }

  &-bg {
    z-index: 0;
    top: 2rem;
    right: -22.5rem;
    opacity: 0.15;
    transform: rotate(71.5deg) scale(2.25);
  }
}
