.about {
  &-wrapper {
    position: relative;
    z-index: 1;
  }

  &-content-wrapper {
    z-index: 1;
    position: relative;
    padding: 1rem;
    backdrop-filter: blur(3px) !important;
    box-shadow: 0 0 15px 5px rgba($dark, 0.15);
    background-color: rgba($primary, 0.6);

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;

    &.animating {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-me,
  &-engineering,
  &-design {
    &-header,
    &-paragraph {
      position: relative;
      z-index: 3;
    }
  }

  &-bg {
    z-index: 0;
    top: 11rem;
    right: calc(-12rem + ((100vw - 1200px) * 0.1));
    opacity: 0.25;
    transform: rotate(-20deg) scale(1.8);
    transition: right 0.3s ease-out;

    @media (max-width: 1600px) {
      right: calc(5rem + ((100vw - 1200px) * 0.1));
    }

    @media (max-width: 1800px) {
      right: calc(-5rem + ((100vw - 1200px) * 0.1));
    }

    &-line {
      top: -5rem;
      left: calc(-17.5rem + ((100vw - 1200px) * 0.05));
      transform: scale(1.1);
      transition: left 0.3s ease-out;

      @media (max-width: 991px) {
        left: calc(-30rem + ((100vw - 1200px) * 0.05));
      }

      @media (max-width: 700px) {
        left: calc(-35rem + ((100vw - 1200px) * 0.05));
      }

      @media (max-width: 576px) {
        left: calc(-45rem + ((100vw - 1200px) * 0.05));
      }
    }
  }
}
