.about {
  &-wrapper {
    position: relative;
    z-index: 0;
  }

  &-bg {
    &-container {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $primary 0%,
        $secondary 33%,
        $secondary 66%,
        $primary 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 0;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }

    &-line-layer {
      position: absolute;
      inset: 0;
      z-index: 1;
    }

    &-line {
      position: relative;
      z-index: 1;
    }

    &-dots {
      opacity: 0.15;
      top: -6em;
      left: -6em;
      z-index: 1;
    }
  }

  &-content-wrapper {
    z-index: 2;
    position: relative;
    padding: 1rem;
    backdrop-filter: blur(3px) !important;
    box-shadow: 0 0 15px 5px rgba($dark, 0.15);
    background-color: rgba($primary, 0.6);

    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;

    &.animating {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-me,
  &-engineering,
  &-design {
    &-header,
    &-paragraph {
      position: relative;
      z-index: 3;
    }
  }
}
