.about {
  &-wrapper {
    position: relative;
    z-index: 1;
  }

  &-content-wrapper {
    z-index: 1;
    position: relative;
    padding: 1rem;
    backdrop-filter: blur(3px) !important;
    box-shadow: 0 0 15px 5px rgba($dark, 0.15);
  }

  &-me,
  &-engineering,
  &-design {
    &-header,
    &-paragraph {
      position: relative;
      z-index: 3;
    }
  }

  &-bg {
    z-index: 0;
    top: 2rem;
    right: -22.5rem;
    opacity: 0.15;
    transform: rotate(71.5deg) scale(2.25);
  }
}
