.about {
  &-me {
    &-header,
    &-paragraph {
      position: relative;
      z-index: 2;
    }
  }

  &-cog-bg {
    z-index: 1;
    top: 0rem;
    left: -72rem;
    right: 44rem;
    opacity: 0.05;
    transform: scale(0.5);
  }

  &-bg {
    z-index: 1;
    top: 2rem;
    right: -22.5rem;
    opacity: 0.25;
    transform: rotate(71.5deg) scale(2.25);
  }
}
