$glow-shadow-size: 8px;
$cursor-size: 0.7em;

.h1-cursor {
  position: relative;

  @media (max-width: 991px) {
    margin-right: $cursor-size;
  }

  &-wrapper {
    min-width: 40rem;

    @media (max-width: 1199px) {
      min-width: 30rem;
    }

    @media (max-width: 991px) {
      min-width: auto;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: -#{$cursor-size};
    bottom: 0.25em;
    width: 0.6em;
    height: 0.06em;
    background-color: $info;
  }

  &.waiting::after {
    animation: blink 0.85s linear infinite;
  }

  &.typing::after,
  &.deleting::after {
    opacity: 1;
  }
}

.hero {
  &-main {
    box-shadow: 0 0 15px 5px rgba($dark, 0.15);
  }

  &-main,
  &-tech-stack {
    z-index: 2;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  &-glowing-border {
    height: 20rem;
    width: 20rem;
    z-index: 2;
    margin: 0 $glow-shadow-size $glow-shadow-size 0;
    box-shadow: 4px 4px $glow-shadow-size rgba($info, 0.8);
  }

  &-tech {
    &-icon {
      width: 4rem;
      margin: 0.5rem;

      &.first-icon {
        margin-left: 0;

        @media (max-width: 768px) {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

// Animations
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
