.h1-cursor {
  position: relative;

  @media (max-width: 991px) {
    margin-right: 3.2rem;
  }

  &-wrapper {
    min-width: 40rem;

    @media (max-width: 1199px) {
      min-width: 30rem;
    }

    @media (max-width: 991px) {
      min-width: 20rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    right: -3.15rem;
    bottom: 1.1rem;
    width: 2.75rem;
    height: 0.275rem;
    background-color: $info;
  }

  &.waiting::after {
    animation: blink 0.85s linear infinite;
  }

  &.typing::after,
  &.deleting::after {
    opacity: 1;
  }
}

.hero {
  &-main,
  &-tech-stack {
    z-index: 2;
    background-color: rgba(9, 10, 12, 0.75);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
  }

  &-glowing-border {
    height: 20rem;
    width: 20rem;
    z-index: 2;
    box-shadow: 4px 4px 8px rgba($info, 0.8);
  }

  &-tech {
    &-stack {
      background-color: rgba(9, 10, 12, 0.75);
    }

    &-icon {
      width: 4rem;
      margin: 0.5rem;
    }
  }
}

// Animations
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
