.workcv {
  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $secondary 0%,
        $secondary 75%,
        $dark 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-content {
    z-index: 4;

    &-container {
      backdrop-filter: blur(3px) !important;
      box-shadow: 0 0 15px 5px rgba($dark, 0.15);
      background-color: rgba($primary, 0.6);
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.6s ease-out;

      &.animating {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &-divider {
    width: 100% !important;
    height: 1px;
    box-shadow: 0 0 3px $info, 0 0 6px $info;
    padding: 0 !important;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (min-width: 992px) {
      width: 1px !important;
      height: 100%;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
    }
  }

  &-button {
    transition: all ease 0.3s;

    &:hover,
    &:active {
      background-color: transparent !important;
      color: $info !important;
      box-shadow: 0 6px 12px -2px rgba($info, 0.5) !important;
      transform: translateY(-6px) !important;
    }
  }

  &-arrow-right {
    width: 2.5em !important;
    height: 75% !important;
  }

  &-container {
    &-left,
    &-right {
      h2 {
        font-size: 3.5rem;
      }

      p {
        font-size: 1.5rem;
      }

      @media (max-width: 1400px) {
        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }
}
