.workcv {
  &-wrapper {
    z-index: 0;
  }

  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $secondary 0%,
        $secondary 75%,
        $dark 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-content {
    z-index: 2;

    &-container {
      backdrop-filter: blur(3px) !important;
      box-shadow: 0 0 15px 5px rgba($dark, 0.15);
      background-color: rgba($primary, 0.6);
    }
  }

  &-divider {
    position: relative;
    width: 2px;
    height: 90%;
    box-shadow: 0 0 3px $info, 0 0 6px $info;
  }

  &-button {
    transition: all ease 0.3s;

    &:hover {
      background-color: transparent;
      color: $info;
      box-shadow: 0 6px 12px -2px rgba($info, 0.5);
      transform: translateY(-6px);
    }
  }

  &-arrow-right {
    width: 2.5em !important;
    height: 75% !important;
  }
}
