.h1-cursor {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: -3.15rem;
    bottom: 1.1rem;
    width: 2.75rem;
    height: 0.275rem;
    background-color: #58c4dc;
    animation: blink 0.85s linear infinite;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
