.resume {
  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $primary 0%,
        $secondary 25%,
        $secondary 75%,
        $dark 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-language-download {
    top: 0;
    right: 0;
  }

  &-language {
    &-btn {
      &:hover {
        color: $info !important;
      }

      &.active {
        color: $info !important;
        text-decoration: underline;
      }
    }

    // &-col {
    //   @media (max-width: 576px) {
    //     width: 100% !important;
    //   }
    // }
  }

  &-project {
    &:hover {
      text-decoration: underline !important;
    }
  }

  &-link-fill,
  &-download {
    &:hover {
      color: $info !important;
      text-decoration: underline !important;

      svg {
        fill: $info !important;
      }
    }
  }

  &-download {
    @media (max-width: 281px) {
      justify-content: flex-start !important;
    }
  }

  &-link-stroke {
    &:hover {
      color: $info !important;
      text-decoration: underline !important;

      svg {
        stroke: $info !important;
      }
    }
  }

  &-divider {
    box-shadow: 0 0 3px $info, 0 0 6px $info;
  }

  &-wrapper {
    background-color: rgba($primary, 0.5);
    backdrop-filter: blur(3px) !important;
  }

  &-table {
    td {
      background-color: transparent !important;
    }
  }
}
