.nav {
  &-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;

    &-line {
      display: block;
      height: 0.17rem;
      background-color: $info;
      transition: all 0.3s ease;
      transform-origin: center;

      &.line-1 {
        width: 100%;
      }

      &.line-2 {
        width: 75%;
      }
    }
    &.open {
      .nav-btn-line {
        &.line-1 {
          transform: translateY(0.6rem) rotate(45deg);
          width: 100%;
        }

        &.line-2 {
          transform: translateY(-0.6rem) rotate(-45deg);
          width: 100%;
        }
      }
    }
  }

  &-menu {
    width: 0;
    min-width: 0;
    overflow: hidden;
    backdrop-filter: blur(3px);
    transition: all 0.3s ease;

    &.open {
      width: 17.5em;
      min-width: 17.5em;
      box-shadow: 0 0 15px 5px rgba($dark, 0.15);
    }
  }
}
