.nav {
  &-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-color: transparent;
    border: none;
    width: 4rem;
    height: 4rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;

    &-line {
      display: block;
      height: 0.17rem;
      background-color: $info;
      transition: all 0.3s ease;
      transform-origin: center;

      &.line-1 {
        width: 100%;
      }

      &.line-2 {
        width: 75%;
      }
    }
    &.open {
      .nav-btn-line {
        &.line-1 {
          transform: translateY(0.6rem) rotate(45deg);
          width: 100%;
        }

        &.line-2 {
          transform: translateY(-0.6rem) rotate(-45deg);
          width: 100%;
        }
      }
    }
  }

  &-menu {
    &-content {
      &:not(.home) {
        backdrop-filter: blur(3px) !important;
        background-color: rgba($primary, 0.5);
      }

      &-title,
      &-connect {
        @media (max-width: 1499px) {
          font-size: 2.5em !important;
        }

        @media (max-width: 767px) {
          font-size: 1.75em !important;
        }
      }

      &-email {
        @media (max-width: 1499px) {
          font-size: 1.35em !important;
        }

        @media (max-width: 767px) {
          font-size: 0.95em !important;
        }
      }
    }

    // Hover
    &-content {
      &-title,
      &-email,
      &-social-icon {
        transition: none !important;
      }

      &-title:hover {
        color: $light !important;
        transition: none !important;
      }

      &-email:hover {
        color: $light !important;
        text-decoration: underline;
        transition: none !important;
      }
    }
    &-social-icon:hover {
      stroke: $light !important;
      transition: none !important;
    }

    // Entry animation
    &-title,
    &-connect {
      opacity: 0;
      transform: translateY(20px);
      transition: all 0.3s ease;

      &.animating {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &-side {
      width: 0;
      min-width: 0;
      max-width: 0;
      overflow: hidden;
      backdrop-filter: blur(3px);
      visibility: hidden;
      transition: width 0.3s ease, min-width 0.3s ease, visibility 0.3s;

      &.open {
        width: 23em; // 17.5em
        min-width: 23em; // 17.5em
        max-width: 23em;
        box-shadow: 0 0 15px 5px rgba($dark, 0.15);
        visibility: visible;
        transition: width 0.3s ease, min-width 0.3s ease, visibility 0s;
      }
    }
    &-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      opacity: 0%;
      visibility: hidden;
      backdrop-filter: blur(3px);
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 5;
      overflow-y: auto;

      &.open {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }
    }
  }

  &-logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 4rem;
    height: 4rem;
    z-index: 9999;
  }
}
