@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@import "./bootstrap-custom.scss";
@import "./components/Homepage/Homepage.scss";
@import "./components/Navigation.scss";
@import "./components/Homepage/AboutMe.scss";
@import "./components/Homepage/WorkAndCV.scss";
@import "./components/Homepage/FooterHomepage.scss";

@import "./components/Work/Work.scss";

body.no-scroll {
  overflow: hidden;
}

.w-90 {
  max-width: 90%;
  height: auto;
}

@media (min-width: 992px) {
  .w-lg-50 {
    width: 50% !important;
  }
}
