.work {
  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $primary 0%,
        $secondary 33%,
        $secondary 66%,
        $primary 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-carousel {
    &-container {
      backdrop-filter: blur(3px) !important;
      box-shadow: 0 0 15px 5px rgba($dark, 0.15);
    }
  }

  &-project {
    &-container {
      background-color: rgba($primary, 0.5);
      backdrop-filter: blur(3px) !important;
    }

    &-img {
    }

    &-text {
      background-color: rgba($primary, 0.75);
    }
  }
}
