.hover-state {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.default-state {
  transition: opacity 0.3s ease;
}

.work {
  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $primary 0%,
        $secondary 33%,
        $secondary 66%,
        $primary 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-project {
    &-main {
      @media (min-width: 577px) {
        background-color: rgba($primary, 0.5);
        backdrop-filter: blur(3px) !important;
      }
    }

    &-title {
      &-container {
        @media (max-width: 576px) {
          background-color: rgba($primary, 0.5);
          backdrop-filter: blur(3px) !important;
        }
      }
    }

    &-figure {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02) translateY(-10px);
        box-shadow: 0 10px 20px rgba($primary, 0.9);
        background-color: transparent !important;

        & .work-project-img {
          background-color: transparent !important;
        }

        & .hover-state {
          opacity: 1;
        }

        & .default-state {
          opacity: 0;
        }
      }
    }

    &-img {
      transition: background-color 0.3s ease;
    }

    &-text {
      background-color: rgba($primary, 0.75);
    }

    &-description {
      background-color: rgba($primary, 0.5);
      backdrop-filter: blur(3px) !important;
    }

    &-content {
      @media (min-width: 769px) {
        background-color: rgba($primary, 0.5);
        backdrop-filter: blur(3px) !important;
      }
    }
  }
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  align-items: center;
}
.carousel-control-prev {
  justify-content: start;
}

.carousel-control-next {
  justify-content: end;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 0.5rem auto 0.5rem auto;

  [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $light;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    margin: 0;

    &.active {
      opacity: 1;
      background-color: $info;
    }
  }
}
