.hover-state {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.default-state {
  transition: opacity 0.3s ease;
}

.work {
  &-bg {
    &-container {
      inset: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        $primary 0%,
        $secondary 33%,
        $secondary 66%,
        $primary 100%
      );
    }

    &-grain {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
      background-repeat: repeat;
      background-size: 150px;
      opacity: 0.06;
    }
  }

  &-carousel {
    &-container {
      backdrop-filter: blur(3px) !important;
      box-shadow: 0 0 15px 5px rgba($dark, 0.15);
    }
  }

  &-project {
    &-main {
      @media (min-width: 577px) {
        background-color: rgba($primary, 0.5);
        backdrop-filter: blur(3px) !important;
      }
    }

    &-title {
      &-container {
        @media (max-width: 576px) {
          background-color: rgba($primary, 0.5);
          backdrop-filter: blur(3px) !important;
        }
      }
    }

    &-figure {
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.02) translateY(-10px);
        box-shadow: 0 10px 20px rgba($primary, 0.9);
        background-color: transparent !important;

        & .work-project-img {
          background-color: transparent !important;
        }

        & .hover-state {
          opacity: 1;
        }

        & .default-state {
          opacity: 0;
        }
      }
    }

    &-img {
      transition: background-color 0.3s ease;
    }

    &-text {
      background-color: rgba($primary, 0.75);
    }
  }
}
